<div class="center jumbotron">
  <h1>MultiShare</h1>
  <h2>
    the best platform to reduce your subscription fees on all your favorite platforms
  </h2>



  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


