<%= form_for(@room) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :name, placeholder: "Compose new room..." %>
  </div>
  <%= f.submit "Access to subscriptions offers", class: "btn btn-primary" %>
<% end %>
